*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

#fixed-nav-bar { 
	position:fixed;
	top: 20px;
	right:20px;
	z-index:2;
}

nav>ul li{
	padding:10px;
	margin-left:20px;
	list-style: none;
	border-radius: 50%;
	display:inline-block;
	background-color: white;
	box-shadow: 1px 1px 2px rgb(131, 131, 131);
}

nav>ul li a{
	padding:5px;
	font-size:20px;
	color:black;
	font-weight: bold;
	text-decoration: none;

}

section{
	width:calc(100vw - 1.05rem);
	height:100vh;
	position:relative;
}

section img{
	width:100%;
}

div.item{
	width:500px;
	height:350px;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

div.item h2{
	text-transform: uppercase;
	font-size:2.2rem;
}

h2:not(#turquoise-shoes>div.item h2){
	color:rgba(255,255,0,255);
}

#blue-shoes{
	background-color: rgba(255,0,0,255);
}

#white-shoes{
	background-color: rgba(0,128,0,255);
}

#turquoise-shoes{
	background-color: rgba(255,255,0,255);
	color:rgba(0,128,0,255);
}