*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

section{
	width: 100vw;
	height: 100vh;
	position:relative;
}

div.item{
	width:500px;
	height:350px;
	text-align: center;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

div.item h2{
	text-transform: uppercase;
	font-size:2.2rem;
}

h2:not(#turquoise-shoes>div.item h2){
	color:rgba(255,255,0,255);
}

section img{
	width:100%;
}



#blue-shoes{
	background-color: rgba(255,0,0,255);
}

#white-shoes{
	background-color: rgba(0,128,0,255);
}

#turquoise-shoes{
	background-color: rgba(255,255,0,255);
	color:rgba(0,128,0,255);
}