*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Rubik Mono One', sans-serif;
}

nav>ul li{
	padding:10px;
	margin-left:20px;
	list-style: none;
	border-radius: 50%;
	display:inline-block;
	background-color: white;
	box-shadow: 1px 1px 2px rgb(131, 131, 131);
}

nav>ul li a{
	padding:5px;
	font-size:15px;
	color:black;
	font-weight: bold;
	text-decoration: none;
}

nav>ul li a:active{
	color:rgb(255, 136, 0);
}

nav>ul li:hover{
	transform: scale(1.2);
	box-shadow: 2px 2px 5px rgb(255, 136, 0);
}

section{
	height:100vh;
	position:relative;
}

section img{
	width:100%;
}

section img:hover{
	transform:rotateY(180deg) scale(1.5,1.5);
}

div.item{
	width:485px;
	text-align:center;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

div.item h2{
	text-transform: uppercase;
	font-size:1.8rem;
}

h2:not(#turquoise-shoes>div.item h2){
	color:rgba(255,255,0,255);
}

#fixed-nav-bar { 
	position:fixed;
	top: 20px;
	right:20px;
	z-index:2;
}

#blue-shoes{
	background-color: rgba(255,0,0,255);
}

#white-shoes{
	background-color: rgba(0,128,0,255);
}

#turquoise-shoes{
	background-color: rgba(255,255,0,255);
	color:rgba(0,128,0,255);
}